README.md

laravel/.env
laravel/.env.*
.git
.gitignore

.dockerignore
infra/php-apache/docker/development/Dockerfile
infra/php-apache/docker/stg-prod/Dockerfile
docker-compose.yml

laravel/vendor
laravel/node_modules

laravel/storage/*
!laravel/storage/app/*
!laravel/storage/debugbar/.gitignore
!laravel/storage/framework/cache/.gitignore
!laravel/storage/framework/sessions/.gitignore
!laravel/storage/framework/views/.gitignore
!laravel/storage/logs/.gitignore

laravel/public/hot

